@mixin btn_hover {
	&:hover {
		background-image: none;
		background-color: $main_color;
	}
}

@mixin title_white {
	position: relative;
	margin-bottom: 0;
	margin-top: 38px;
	color: #ffffff;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	z-index: 2;
}

@mixin subtitle_white {
	position: relative;
	text-align: center;
	z-index: 2;
	color: white;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 21px;
}

@mixin mobile_item_subtitle {
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 31px;
	text-transform: uppercase;
	text-align: center;
}
